@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: "Amiri", serif;
}
a{
    display:inline-block;
    text-decoration:none;
}
ul{
    list-style:none;
}
.container{
    max-width:1490px;
    margin: 0 auto;
    padding: 0 15px;
    width:100%;
}
.row{
    display:flex;
    flex-wrap:wrap;
    margin: 0 -15px;
}
.col-2{
    width: calc(8.33% * 2);
    padding: 0 15px;
}
.col-4{
    width: calc(8.33% * 4);
    padding: 0 15px;
}
.col-3{
    width: calc(8.33% * 3);
    padding: 0 15px;
}
.col-5{
    width: calc(8.33% * 5);
    padding: 0 15px;
}
.col-7{
    width:calc(8.33% * 7);
    padding: 0 15px;
}
/*Header Section*/
header{
    padding:26px 0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:100;
}
nav,.navbar-collapsed, .navbar-collapsed > ul, .nav-btn{
    display:flex;
    align-items:center;
}
.navbar-collapsed{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.navbar-items{
    margin-right:56px;
}
.navbar-brand{
    width:312px;
}
.brand-logo > img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.nav-links{
    font-size:16px;
    font-weight:400;
    color:#FFFFFF;
}
.nav-links:hover{
    color:#0D0D0D;
}
.search-btn{
    margin-right:22px;
}
.user-btn{
    margin-right:44px;
}
.cart-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    color:#FFFFFF;
}
.menu{
    display:none;
}
/*Banner Section*/
.banner-sec{
    background: url("./image/banner-image.png");
    min-height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:100px;
}
.banner-sec{
    position:relative;
    z-index:-2;
}
.banner-content-box{
    max-width:793px;
    margin: 0 auto;
    width:100%;
    background:#FFFFFF;
    border-radius: 18px;
    
    text-align:center;
}
.banner-content{
    padding:76px 60px;
}
.banner-content-heading{
    color:#0D0D0D;
    text-transform: capitalize;
    text-align: center;
    margin-bottom:35px;
}
.banner-paragraph{
    font-size:16px;
    font-weight:400;
    color:#5E5E5E;
    margin-bottom:35px;
    text-align:center;
}
.banner-btn{
    padding:0 231px;
}
.explore-btn{
    padding:29px 39px;
    border-radius:60px;
    background:#95A986;
    color:#0D0D0D;
}
/*advantage Section*/
.advantage-sec{
    padding:120px 0;
}
.choose{
    text-align:center;
    margin-bottom:15px;
    color:#5E5E5E;
}
h2{
    text-align:center;
    margin-bottom:92px;
    text-transform: uppercase;
}
.advantage-card{
    max-width:230px;
}
.card-image{
    padding: 0 29px;
    margin-bottom:32px;
}
.card-content{
    max-width:230px;
    height:68px;
}
.card-heading{
    text-align:center;
    font-size:20px;
    font-weight: bold;
    color:#2C2C2C;
    margin-bottom:10px;
}
.card-content > p{
    text-align:center;
    color:#707070;
}
/*Our Mission Section*/
.our-mission-sec{
    padding:120px 0;
}
.our-mission-sec .row{
    align-items:center;
}
.mission_left_content{

    margin-right: auto;
}
main > img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-right-radius: 20px;
}
sub > img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-top-left-radius: 20px;
}
h2{
    font-size:45px;
    font-weight:400;
    line-height:1.11;
    color:#0D0D0D;
    text-transform:uppercase;
}

.main{
    max-width:641px;
    margin: 0 auto;
    position:relative;
}
.sub{
    max-width:326px;
    position:absolute;
    bottom:-56px;
    right:-97px;
}
.mission_right_content{
    max-width:580px;
    padding-left: 131px;
}
.mission_right_content h2{
    /*position:relative;*/
    max-width:536px;
}
.mission_right_content p{
    margin: 50px 0 25px 0;
    color:#5E5E5E;
}
/*Footer Section*/
footer{
    padding:120px 0;

}
.footer-navigation{
    max-width:439px;
}
.footer-heading{
    font-size:24px;
    font-weight: bold;
    color:#0D0D0D;
    position:relative;
    margin-bottom:35px;
}
.footer-heading::after{
    content:"";
    position:absolute;
    bottom:-12px;
    left:0;
    width:60px;
    height:2px;
    background-color: black;
}
.footer-navigation > p{
    font-size:16px;
    font-weight:400;
    color:#5E5E5E;
    margin-bottom:20px;
}
.email-form{
    border:1px solid rgba(134,134,134,50%);
    border-radius:60px;
    margin-bottom:10px;
}
.email-form > input[type="email"]{
background:transparent;
    border:none;
    display:inline-block;
    height:100%;
    width:80%;
    padding:18px 5px;
    color:var(--text-color);
}
.subscribe-btn{
    padding:20px 45px;
    border-radius:60px;
    background:#95A986;
    font-size:18px;
    font-weight:400;
    color:#0D0D0D;
}
.ouick-links  a{
    font-size:16px;
    font-weight:400;
    color:#5E5E5E;
    margin-bottom:25px;
}
.ouick-links a:hover{
    color:#95A986;
}
.social-links{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.social-links > li{
    margin-right:36px;
}
/*Media Query*/
@media screen and (max-width:1400px){
    .main{
        max-width:500px;
    }
    .sub{
        max-width:200px;
        bottom:-56px;
        right:-50px;
    }
}
@media screen and (max-width:1200px){
    .navbar-collapsed{
        display:none;
    }
    .menu{
        display:block;
        margin-left:auto;
    }
    .banner-content-box {
    /*position: absolute;*/
    top: 100px;
    left: 132px;
    }
    /*.col-5{
        width:50%;
    }*/
}
@media screen and (max-width:992px){
    .banner-content-box {
        position: absolute;
        top: 100px;
        left: 134px;
        width: 500px;
    }
    .banner-content {
    padding: 50px 30px;
}
.banner-btn {
    padding: 0 149px;
}
.banner-paragraph{
    margin-bottom:10px;
}
.explore-btn{
    padding:10px 20px;
}

.col-7{
    width:50%;
}
.mission_left_content{
    margin: 0 auto;
    margin-bottom:60px;
}
.col-5{
    width:50%;
}
.main{
        width:300px;
}
.sub{
    width:200px;
    bottom:-56px;
    right: -302px;
}
footer .col-4{
    width:100%;
    margin-bottom:20px;
}
.footer-navigation{
    margin:0 auto;
}
}
@media screen and (max-width:768px){
    .col-3{
        width:50%;
    }
    .advantage-card{
        margin: 0 auto;
        margin-bottom:30px;
    }
    .col-5{
        width:100%;
    }
}
@media screen and (max-width:576px){
    .banner-content-box{
        top:110px;
        left:8px;
        width:400px;
    }
        .banner-content {
        padding: 15px 20px;
    }
    .banner-content-heading {
    font-size: 30px;
    }
    .banner-paragraph{
        font-size:14px;
        margin-bottom:20px;
    }
        .banner-btn {
        padding: 0px 125px;
    }
    .explore-btn{
        font-size:13px;
    }
    .col-3{
        width:100%;
    }
    .card-image {
    padding: 0px 47px;
    }
    .main{
        width:300px;
    }
    .sub{
        display:none;
    }
    .mission_right_content{
        padding-left:0;
    }
    .advantage-heading > h2{
        margin-bottom:60px;
    }

}
@media screen and (max-width:425px){
    .banner-content-box {
        top: 110px;
        left: 36px;
        width: 300px;
    }
    .banner-btn {
        padding: 0px 75px;
    }
    .col-7{
        width:100%;
    }
    
    
}

@media screen and (max-width:375px){
    .banner-content-box {
        top: 148px;
        left: 13px;
        width: 300px;
    }
}